
@keyframes SlideInFromTop {
  0%   { bottom: 1.5em; opacity: 0; }
  30%  { bottom: 1.5em; opacity: 0; }
  100% { bottom: 0;     opacity: 1; }
}
@keyframes SlideInFromBottom {
  0%   { top: 1.5em; opacity: 0; }
  30%  { top: 1.5em; opacity: 0; }
  100% { top: 0;     opacity: 1; }
}
@keyframes SlideOutToTop {
  0%   { bottom: 0;   opacity: 1; }
  100% { bottom: 4em; opacity: 0; }
}
.SlideOut .Content {
  animation: SlideOutToTop .5s ease-in;
}
