
// Landing screen animations
@keyframes SlideInFromTop {
  0%   { bottom: 1.5em; opacity: 0; }
  30%  { bottom: 1.5em; opacity: 0; }
  100% { bottom: 0;     opacity: 1; }
}
@keyframes SlideInFromBottom {
  0%   { top: 1.5em; opacity: 0; }
  30%  { top: 1.5em; opacity: 0; }
  100% { top: 0;     opacity: 1; }
}

// Switcher animation properties
.SlideOut {
  .Background { opacity: 0; }
  .Content { bottom: 2em; opacity: 0; }
}
.Hidden {
  .Background { opacity: 0; }
  .Content { opacity: 0; }
}
