
$BgBody: #000;
$BgPrimary: #003F7F;
$BgSecondary: #563F68;

$FgBody: #FFF;
$FgPrimary: #84C1FF;
$FgSecondary: #C784FF;
$FgFaded: #AAAD;

$ElementBorder: #666;
$ElementBorderFaded: #6666;

$BgProjectHeader1: #563F6855;
$BgProjectHeader2: #563F68AA;

$BgAboutHeader1: #3E526655;
$BgAboutHeader2: #3E5266AA;

$FgLink: #B8C;
$FgLinkHover: #DAE;

$BgButton: #CCC3;
$BgButtonHover: #CCC6;

$BgButtonLanding: #563F6888;
$BgButtonLandingHover: #775891CC;
