
$BgPrimary: #003F7F;
$BgSecondary: #563F68;

$FgPrimary: #FFF;
$FgSecondary: #6CD;
$FgFaded: #AAAD;

$ElementBorder: #666;
$BgProjectHeader1: #563F6855;
$BgProjectHeader2: #563F68AA;

$FgLink: #B8C;
$FgLinkHover: #DAE;
$BgButton: #CCC3;
$BgButtonHover: #CCC6;
