
$BgBody: #000;
$BgPrimary: #381C2A;
$BgSecondary: #674EA7;

$FgBody: #FFF;
$FgPrimary: #FF7FBF;
$FgSecondary: #A17FFF;
$FgFaded: #AAAD;

$ElementBorder: #666;
$ElementBorderFaded: #6666;

$BgIndexElement: #6665;

$BgProjectHeader1: #59002C55;
$BgProjectHeader2: #59002CAA;

$BgAboutHeader1: #59002C55;
$BgAboutHeader2: #59002CAA;

$FgLink: #B8C;
$FgLinkHover: #DAE;

$BgButton: #6C4889AA;
$BgButtonHover: #6C4889;
$BrdButton: #6C4889;
