button {
  background: $BgButton;
  border-radius: .16em;
  border: none;
  color: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  padding: .75em 1.5em;
  transition: background .3s ease;
  &:hover {
    background: $BgButtonHover;
  }
}

a {
  color: $FgLink;
  text-decoration: underline;
  transition: color ease .3s;
  &:hover {
    color: $FgLinkHover;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Montserrat';
}
h1 { font-size: 3.25em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

[hidden] {
  display: none !important;
}
.Hidden {
  opacity: 0;
}
.Clear {
  clear: both;
}
