
button.SquareButton, a.SquareButton {
  display: block;
  width: 2em !important;
  height: 2em !important;
  padding: 0;
  margin-bottom: .5em;
  border-radius: .16em;
  transition: background .3s ease;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $BgButton;
  &:hover {
    background-color: $BgButtonHover;
  }
}

.Back {background-image: url('img/buttons/back.png');}

.Back {
  position: absolute;
  top: .5em; left: .5em;
}

button {
  background-color: $BgButton;
  border-radius: .16em;
  border: none;
  color: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  padding: .75em 1.5em;
  transition: background .3s ease;
  &:hover {
    background-color: $BgButtonHover;
    cursor: pointer;
  }
}

a {
  color: $FgLink;
  text-decoration: underline;
  transition: color ease .3s;
  &:hover {
    color: $FgLinkHover;
    cursor: pointer;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Montserrat';
}
h1 { font-size: 3.25em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; }

[hidden] {
  display: none !important;
}
.Clear {
  clear: both;
}
