@import 'colors';
@import 'breakpoint';
@import 'elements';
@import 'animations';

@import 'section/landing';
@import 'section/projects';


html, body {
  margin: 0;
  background-color: #000;
  color: $FgPrimary;
}

body {
  font-size: 1.05rem;
  @include breakpoint(hires portrait) {
    font-size: 2rem;
  }
  font-family: 'Open Sans';
  letter-spacing: .04em;
}

.Background {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
}

section {
  padding: 0.05px; // disable margin collapse
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  align-content: center;
  .Background {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    filter: blur(.3em) brightness(60%);
    z-index: 100;
  }
  .Content {
    margin: auto;
    position: relative;
    text-align: center;
    color: $FgPrimary;
    z-index: 200;
    bottom: 0;
    transition: all .4s ease-in;
    transition-property: opacity, bottom;
  }
}

.Clear {
  float: none;
  clear: both;
}
