@import 'breakpoint';
@import 'elements';

$BgPrimary: #003F7F;
$BgSecondary: #563F68;

$FgPrimary: #FFF;
$FgSecondary: #6CD;
$FgFaded: #AAAD;

$FgLink: #B8C;
$FgLinkHover: #DAE;
$BgButton: #CCC3;
$BgButtonHover: #CCC6;

html, body {
  margin: 0;
  background-color: #000;
  color: $FgPrimary;
}

body {
  font-size: 1.05rem;
  font-family: 'Open Sans';
  letter-spacing: .04em;
}

.Background {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  filter: blur(1em) saturate(50%);
}

@keyframes SlideInFromTop {
  0%   { bottom: 1.5em; opacity: 0; }
  30%  { bottom: 1.5em; opacity: 0; }
  100% { bottom: 0;     opacity: 1; }
}
@keyframes SlideInFromBottom {
  0%   { top: 1.5em; opacity: 0; }
  30%  { top: 1.5em; opacity: 0; }
  100% { top: 0;     opacity: 1; }
}
@keyframes SlideOutToTop {
  0%   { bottom: 0;   opacity: 1; }
  100% { bottom: 4em; opacity: 0; }
}
.SlideOut .Content {
  animation: SlideOutToTop .5s ease-in;
}

section {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  align-content: center;
  opacity: 1;
  transition: opacity .5s ease;
  .Background {
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-blend-mode: luminosity;
    filter: blur(.3em) brightness(60%);
    z-index: 100;
  }
  .Content {
    margin: auto;
    position: relative;
    text-align: center;
    color: $FgPrimary;
    max-width: 85%;
    z-index: 200;
  }
}

#Landing {
  font-size: 1.05rem;
  display: flex;
  h1 {
    position: relative;
    margin-top: 0;
    margin-bottom: 3em;
    animation: SlideInFromTop 2s ease;
    @include breakpoint(lowres compact) {
      font-size: 3rem;
    }
    @include breakpoint(lowres wide) {
      font-size: 4rem;
    }
  }
  p, button {
    position: relative;
    margin: 2em;
    animation: SlideInFromBottom 2s ease;
  }
  &.SlideOut .Background {
    animation: SlideOutToTop .5s ease-in;
  }
  .Background {
    background-image: url('coding.jpg');
    background-color: $BgPrimary;
  }
  &.SlideOut #Contact {
    animation: SlideOutToTop .5s ease-in;
  }
  #Contact {
    text-align: center;
    display: flex;
    position: fixed;
    bottom: 0; left: 0;
    margin-bottom: 1em;
    align-content: center;
    width: 100vw;
    .Container {
      margin: auto;
    }
    .Column {
      color: $FgFaded;
      float: left;
      .Type, .Value {
        margin: .5em 3em;
      }
    }
  }
}

#Projects {
  .Background {
    background-color: #0500;
    background-attachment: fixed;
    background-size: 3em;
    background-position: left;
    background-repeat: repeat;
    background-blend-mode: normal;
  }
  #Index {
    .Element {
      border-bottom: 1px solid #666;
      max-width: 1000px;
      margin: 1em auto;
      padding: .5em;
      opacity: .7;
      transition: opacity .3s ease;
      &:hover {
        opacity: 1;
      }
      .Name {
        float: left;
        font-size: 1.2rem;
      }
      .Badges { float: right; margin-right: 1em; }
    }
  }
  .Project {
    transition: opacity .5s ease;
    padding: 1.5em;
    .Background {
      background-image: url('grid_cell_s.png');
    }
    &#Index .Background {
      background-image: url('grid_cell_p.png');
    }
  }
  .Back {
    padding: .5em .8em;
    box-sizing: border-box;
    position: absolute;
    top: 0; left: 0;
    font-size: 1.1em;
    color: $FgSecondary;
  }
}
