button.SquareButton, a.SquareButton {
  display: block;
  width: 2em !important;
  height: 2em !important;
  padding: 0;
  margin-bottom: 0.5em;
  border-radius: 0.16em;
  transition: background 0.3s ease;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #6C4889AA;
}
button.SquareButton:hover, a.SquareButton:hover {
  background-color: #6C4889;
}

.Back {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  border: none;
}

button {
  background: none;
  background-color: #6C4889AA;
  border: none;
  border-bottom: 2px solid #6C4889;
  color: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  padding: 0.5em 1.3em;
  transition: background 0.3s ease;
}
button:hover {
  background-color: #6C4889;
  cursor: pointer;
}

a {
  color: #B8C;
  text-decoration: underline;
  transition: color ease 0.3s;
}
a:hover {
  color: #DAE;
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

[hidden] {
  display: none !important;
}

.Clear {
  clear: both;
}

@keyframes SlideInFromTop {
  0% {
    bottom: 1.5em;
    opacity: 0;
  }
  30% {
    bottom: 1.5em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes SlideInFromBottom {
  0% {
    top: 1.5em;
    opacity: 0;
  }
  30% {
    top: 1.5em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
.SlideOut .Background {
  opacity: 0;
}
.SlideOut .Content {
  bottom: 2em;
  opacity: 0;
}

.Hidden .Background {
  opacity: 0;
}
.Hidden .Content {
  opacity: 0;
}

section .Content .Header {
  text-align: left;
  padding: 1em;
  border-bottom: 1px solid #6666;
}
section .Content .Header h2 {
  text-align: center;
}
section .Content .Header > div {
  padding: 0 1em;
  margin: 0.33em 0;
}
section .Content .Header .Badge {
  display: inline-block;
}
section .Content .Header .Badge img {
  width: 1.5em;
  height: 1.5em;
}
section .Content .Header .Badge::after {
  margin-left: 0.5em;
  position: relative;
  bottom: 0.33em;
  right: 0.5em;
  font-size: 0.85em;
  opacity: 0.4;
  content: attr(title);
  display: inline-block;
}
section .Content .Header .BadgeProperty {
  display: block;
  color: #A17FFF;
}
section .Content .Header .BadgeProperty img {
  width: 1.5em;
  height: 1.5em;
}
section .Content .Header .BadgeProperty.LargeText::after {
  font-size: 1.1em;
}
section .Content .Header .BadgeProperty::after {
  margin-left: 0.5em;
  position: relative;
  bottom: 0.33em;
  right: 0.5em;
  font-size: 0.85em;
  content: attr(title);
  display: inline-block;
}
section .Content .TextSection {
  text-align: left;
  padding: 1em 1em 0;
  transition: background 0.3s ease;
}
@media only screen and (max-resolution: 149dpi) {
  section .Content .TextSection button {
    padding: 0.2em 0.5em;
    margin-right: 1em;
  }
}
section .Content .TextSection h4 {
  margin: 1em 0;
  font-size: 1.25em;
  color: #FF7FBF;
}
section .Content .TextSection::after {
  position: relative;
  left: -1em;
  display: block;
  content: "";
  height: 1px;
  width: 75%;
  margin-top: 1.5em;
  background-image: linear-gradient(90deg, #6666, #0000);
}
@media only screen and (min-resolution: 150dpi) {
  section .Content .TextSection::after {
    height: 2px;
    width: 100%;
  }
}
section .Content .TextSection .Entry {
  display: inline-block;
  padding: 0.5em;
  background-color: #6666;
  transition: opacity 0.3s ease;
  margin-bottom: 0.25em;
}
section .Content .TextSection .Entry.Major {
  background-color: #6666;
  padding: 1em 0.5em;
  opacity: 0.85;
}
section .Content .TextSection .Entry.Major:hover {
  opacity: 1;
}
section .Content .TextSection .Entry .Category {
  text-align: center;
  color: #A17FFF;
}
section .Content .Links {
  margin: 0.5em 0;
}
section .Content .Links a {
  border-bottom: 1px solid #666;
  margin-right: 0.75em;
  border-radius: 0.33em;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  color: inherit;
  text-decoration: none;
  font-size: 0.85em;
}
section .Content .Links a img {
  width: 1.5em;
  height: 1.5em;
}
section .Content .Links a span {
  position: relative;
  bottom: 0.25em;
}
section .Content .Links a:hover {
  opacity: 1;
  border-color: #888;
}
section .Content .Links a.Colored {
  color: #B8C;
}
section .Content .Links a.Colored:hover {
  color: #DAE;
}

#Landing {
  display: flex;
}
#Landing h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 2.5em;
  animation: SlideInFromTop 2s ease;
}
@media only screen and (max-resolution: 149dpi) and (max-width: 1055px) {
  #Landing h1 {
    font-size: 3em;
  }
}
@media only screen and (max-resolution: 149dpi) and (min-width: 1536px) {
  #Landing h1 {
    font-size: 4em;
  }
}
#Landing a {
  color: inherit;
}
#Landing p, #Landing button {
  position: relative;
  margin: 2em;
  animation: SlideInFromBottom 2s ease;
}
#Landing button {
  margin: 2em 1em;
  border-bottom: 2px solid #6C4889;
}
@media only screen and (max-resolution: 149dpi) {
  #Landing button {
    font-size: 1.1rem;
  }
}
@media only screen and (min-resolution: 150dpi) {
  #Landing button {
    font-size: 1.1em;
  }
}
#Landing .Background {
  background-size: cover;
  background-position: center;
  background-blend-mode: color;
  background-image: url("img/coding.jpg");
  filter: blur(0.3em) saturate(0.25) brightness(0.33);
  transition: opacity 0.4s ease-in;
}
#Landing #Contact {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  width: 100vw;
  transition: bottom 0.4s ease-in;
}
#Landing #Contact p {
  margin-top: 0;
}
@media only screen and (max-resolution: 149dpi) {
  #Landing #Contact {
    display: flex;
    align-content: center;
  }
  #Landing #Contact .Container {
    margin: auto;
  }
  #Landing #Contact .Column {
    color: #AAAD;
    float: left;
  }
  #Landing #Contact .Column .Type, #Landing #Contact .Column .Value {
    margin: 0.5em 3em;
  }
}
@media only screen and (max-resolution: 149dpi) and (max-height: 40em) {
  #Landing #Contact {
    display: none;
  }
}
@media only screen and (min-resolution: 150dpi) {
  #Landing #Contact {
    display: flex;
    align-content: center;
  }
  #Landing #Contact .Container {
    margin: auto;
  }
  #Landing #Contact .Column {
    color: #AAAD;
    float: left;
  }
  #Landing #Contact .Type {
    display: none;
  }
}
@media only screen and (min-resolution: 150dpi) and (orientation: landscape) {
  #Landing #Contact {
    display: none;
  }
}
#Landing.SlideOut #Contact {
  bottom: 2em;
}

#About .Content .Header {
  background-image: linear-gradient(#59002C55, #59002CAA);
  padding: 1em;
}

#Projects #Index {
  transition: opacity 0.5s ease;
  padding-bottom: 5em;
}
#Projects #Index .Introduction {
  color: #FF7FBF;
  padding: 2em 1em;
  width: 90%;
  margin: 0 auto;
}
#Projects #Index .Introduction::after {
  display: none;
}
#Projects #Index .Element {
  width: 90%;
  text-align: left;
  box-sizing: border-box;
  padding: 1em 0.5em;
  margin: 0.5em auto;
  background-color: #6665;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
#Projects #Index .Element:hover {
  opacity: 1;
}
@media only screen and (max-resolution: 149dpi) {
  #Projects #Index .Element .Left {
    float: left;
    width: calc(100% - 18em);
  }
}
#Projects #Index .Element .Badges {
  float: right;
  transition: max-height 0.75s ease;
}
#Projects #Index .Element .Name {
  font-size: 1.2em;
  transition: all 0.3s ease;
  transition-property: color, padding, letter-spacing;
}
#Projects #Index .Element .Badge {
  text-align: right;
  display: inline-block;
  margin-left: 0.5em;
}
#Projects #Index .Element .Badge img {
  width: 1.5em;
  height: 1.5em;
}
#Projects #Index .Element .Description {
  padding: 0 1em 0 0.5em;
  transition: max-height 0.75s ease;
  overflow: hidden;
  border-right: 1px solid #6C4889AA;
}
#Projects #Index .Element .Description button {
  margin: 1em auto 0.2em;
  padding: 0.33em 1em;
  display: block;
}
#Projects #Index .Element.DetailsOn {
  opacity: 1;
}
#Projects #Index .Element.DetailsOn .Name {
  color: #A17FFF;
  padding: 0 0.5em;
  letter-spacing: 0.055em;
}
#Projects #Index .Element.DetailsOn .Description {
  max-height: 15em;
}
#Projects #Index .Element.DetailsOn .Badges {
  max-height: 8em;
}
#Projects #Index .Element.DetailsOn .Badge {
  display: block;
}
#Projects #Index .Element.DetailsOn .Badge::before {
  position: relative;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 0.85em;
  opacity: 0.7;
  content: attr(title);
  display: inline-block;
}
#Projects #Index .Element.DetailsOff .Description {
  max-height: 0;
}
#Projects #Index .Element.DetailsOff .Badges {
  max-height: 2em;
}
#Projects #Index .Element.DetailsOff:hover {
  cursor: pointer;
}
#Projects .Project {
  transition: opacity 0.3s ease;
}
#Projects .Project .Background {
  transition: opacity 0.3s ease;
}
#Projects .Project .Content .Header {
  background-image: linear-gradient(#59002C55, #59002CAA);
}
#Projects .Project .Content .Screenshot {
  opacity: 0.85;
  transition: opacity 0.3s ease;
  margin-right: 0.5em;
  display: inline-block;
  cursor: zoom-in;
}
#Projects .Project .Content .Screenshot img {
  height: 5em;
}
#Projects .Project .Content .Screenshot:hover {
  opacity: 1;
}
#Projects .Project .Content .Screenshot.Active {
  display: flex;
  align-content: center;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 100%;
  margin-right: inherit;
  background-color: #181818;
  cursor: zoom-out;
}
#Projects .Project .Content .Screenshot.Active::after {
  color: #FF7FBF;
  display: block;
  position: absolute;
  bottom: 0;
  left: 1em;
  width: 100%;
  text-align: center;
  background-color: #18181888;
  padding: 1em 0 1.5em;
  content: attr(title);
}
#Projects .Project .Content .Screenshot.Active img {
  display: block;
  margin: auto;
  height: auto;
  max-height: 100%;
  max-width: 100%;
}

html, body {
  margin: 0;
  background-color: #000;
  color: #FFF;
}

body {
  font-size: 1.05rem;
  font-family: "Open Sans";
  letter-spacing: 0.04em;
}
@media only screen and (min-resolution: 150dpi) and (orientation: portrait) {
  body {
    font-size: 2rem;
  }
}

section {
  padding: 0.05px;
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  align-content: center;
}
section .Background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000;
  background-position: center;
  background-repeat: repeat;
  background-blend-mode: normal;
  z-index: 100;
}
section .Content {
  padding: 0.05px;
  margin: auto;
  position: relative;
  text-align: center;
  color: #FFF;
  z-index: 200;
  bottom: 0;
  transition: all 0.4s ease-in;
  transition-property: opacity, bottom;
}

.Clear {
  float: none;
  clear: both;
}

/*# sourceMappingURL=index.css.map */
