button {
  background: #CCC3;
  border-radius: 0.16em;
  border: none;
  color: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  padding: 0.75em 1.5em;
  transition: background 0.3s ease;
}
button:hover {
  background: #CCC6;
}

a {
  color: #B8C;
  text-decoration: underline;
  transition: color ease 0.3s;
}
a:hover {
  color: #DAE;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Montserrat";
}

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

[hidden] {
  display: none !important;
}

.Hidden {
  opacity: 0;
}

.Clear {
  clear: both;
}

html, body {
  margin: 0;
  background-color: #000;
  color: #FFF;
}

body {
  font-size: 1.05rem;
  font-family: "Open Sans";
  letter-spacing: 0.04em;
}
@media only screen and (min-resolution: 150dpi) and (orientation: portrait) {
  body {
    font-size: 2rem;
  }
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(1em) saturate(50%);
}

@keyframes SlideInFromTop {
  0% {
    bottom: 1.5em;
    opacity: 0;
  }
  30% {
    bottom: 1.5em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes SlideInFromBottom {
  0% {
    top: 1.5em;
    opacity: 0;
  }
  30% {
    top: 1.5em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes SlideOutToTop {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 4em;
    opacity: 0;
  }
}
.SlideOut .Content {
  animation: SlideOutToTop 0.5s ease-in;
}

section {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  align-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}
section .Background {
  height: 100%;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  filter: blur(0.3em) brightness(60%);
  z-index: 100;
}
section .Content {
  margin: auto;
  position: relative;
  text-align: center;
  color: #FFF;
  z-index: 200;
}
@media only screen and (max-resolution: 149dpi) {
  section .Content {
    max-width: 85%;
  }
}

#Landing {
  display: flex;
}
#Landing h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 3em;
  animation: SlideInFromTop 2s ease;
}
@media only screen and (max-resolution: 149dpi) and (max-width: 671px) {
  #Landing h1 {
    font-size: 3em;
  }
}
@media only screen and (max-resolution: 149dpi) and (min-width: 1152px) {
  #Landing h1 {
    font-size: 4em;
  }
}
#Landing a {
  color: inherit;
}
#Landing p, #Landing button {
  position: relative;
  margin: 2em;
  animation: SlideInFromBottom 2s ease;
}
#Landing.SlideOut .Background {
  animation: SlideOutToTop 0.5s ease-in;
}
#Landing .Background {
  background-image: url("img/coding.jpg");
  background-color: #003F7F;
}
#Landing.SlideOut #Contact {
  animation: SlideOutToTop 0.5s ease-in;
}
#Landing #Contact {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  width: 100vw;
}
@media only screen and (max-resolution: 149dpi) {
  #Landing #Contact {
    display: flex;
    align-content: center;
  }
  #Landing #Contact .Container {
    margin: auto;
  }
  #Landing #Contact .Column {
    color: #AAAD;
    float: left;
  }
  #Landing #Contact .Column .Type, #Landing #Contact .Column .Value {
    margin: 0.5em 3em;
  }
}
@media only screen and (min-resolution: 150dpi) {
  #Landing #Contact {
    display: flex;
    align-content: center;
  }
  #Landing #Contact .Container {
    margin: auto;
  }
  #Landing #Contact .Column {
    color: #AAAD;
    float: left;
  }
  #Landing #Contact .Type {
    display: none;
  }
}

#Projects .Background {
  background-color: #0500;
  background-attachment: fixed;
  background-size: 3em;
  background-position: left;
  background-repeat: repeat;
  background-blend-mode: normal;
}
#Projects #Index .Element {
  border-bottom: 1px solid #666;
  padding: 0.5em;
  opacity: 0.7;
  transition: opacity 0.3s ease;
}
@media only screen and (max-resolution: 149dpi) {
  #Projects #Index .Element {
    max-width: 1000px;
    margin: 1.5em auto 1em;
  }
}
#Projects #Index .Element:hover {
  opacity: 1;
}
#Projects #Index .Element .Name {
  float: left;
  font-size: 1.2em;
}
#Projects #Index .Element .Badges {
  float: right;
  margin-right: 1em;
}
#Projects #Index .Element img.Badge {
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.4em;
}
#Projects .Project {
  transition: opacity 0.5s ease;
  padding: 1.5em;
}
#Projects .Project .Background {
  background-image: url("img/grid_cell_s.png");
}
#Projects .Project#Index .Background {
  background-image: url("img/grid_cell_p.png");
}
#Projects .Back {
  padding: 0.5em 0.8em;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.1em;
  color: #6CD;
}

/*# sourceMappingURL=index.css.map */
