button.SquareButton, a.SquareButton {
  display: block;
  width: 2em !important;
  height: 2em !important;
  padding: 0;
  margin-bottom: 0.5em;
  border-radius: 0.16em;
  transition: background 0.3s ease;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #CCC3;
}
button.SquareButton:hover, a.SquareButton:hover {
  background-color: #CCC6;
}

.Back {
  background-image: url("img/buttons/back.png");
}

.Back {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
}

button {
  background-color: #CCC3;
  border-radius: 0.16em;
  border: none;
  color: inherit;
  letter-spacing: inherit;
  font-size: inherit;
  padding: 0.75em 1.5em;
  transition: background 0.3s ease;
}
button:hover {
  background-color: #CCC6;
}

a {
  color: #B8C;
  text-decoration: underline;
  transition: color ease 0.3s;
}
a:hover {
  color: #DAE;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: "Montserrat";
}

h1 {
  font-size: 3.25em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

[hidden] {
  display: none !important;
}

.Clear {
  clear: both;
}

@keyframes SlideInFromTop {
  0% {
    bottom: 1.5em;
    opacity: 0;
  }
  30% {
    bottom: 1.5em;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes SlideInFromBottom {
  0% {
    top: 1.5em;
    opacity: 0;
  }
  30% {
    top: 1.5em;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
@keyframes SlideOutToTop {
  0% {
    bottom: 0;
    opacity: 1;
  }
  100% {
    bottom: 4em;
    opacity: 0;
  }
}
.SlideOut .Content {
  animation: SlideOutToTop 0.5s ease-in;
}

.Hidden {
  opacity: 0;
}

#Landing {
  display: flex;
}
#Landing h1 {
  position: relative;
  margin-top: 0;
  margin-bottom: 3em;
  animation: SlideInFromTop 2s ease;
}
@media only screen and (max-resolution: 149dpi) and (max-width: 1055px) {
  #Landing h1 {
    font-size: 3em;
  }
}
@media only screen and (max-resolution: 149dpi) and (min-width: 1536px) {
  #Landing h1 {
    font-size: 4em;
  }
}
#Landing a {
  color: inherit;
}
#Landing p, #Landing button {
  position: relative;
  margin: 2em;
  animation: SlideInFromBottom 2s ease;
}
#Landing.SlideOut .Background {
  animation: SlideOutToTop 0.5s ease-in;
}
#Landing .Background {
  background-image: url("img/coding.jpg");
  background-color: #003F7F;
}
#Landing.SlideOut #Contact {
  animation: SlideOutToTop 0.5s ease-in;
}
#Landing #Contact {
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  margin-bottom: 1em;
  width: 100vw;
}
@media only screen and (max-resolution: 149dpi) {
  #Landing #Contact {
    display: flex;
    align-content: center;
  }
  #Landing #Contact .Container {
    margin: auto;
  }
  #Landing #Contact .Column {
    color: #AAAD;
    float: left;
  }
  #Landing #Contact .Column .Type, #Landing #Contact .Column .Value {
    margin: 0.5em 3em;
  }
}
@media only screen and (min-resolution: 150dpi) {
  #Landing #Contact {
    display: flex;
    align-content: center;
  }
  #Landing #Contact .Container {
    margin: auto;
  }
  #Landing #Contact .Column {
    color: #AAAD;
    float: left;
  }
  #Landing #Contact .Type {
    display: none;
  }
}

#Projects .Background {
  background-color: #0500;
  background-attachment: fixed;
  background-size: 3em;
  background-position: left;
  background-repeat: repeat;
  background-blend-mode: normal;
}
#Projects #Index {
  transition: opacity 0.5s ease;
  padding: 1em;
}
#Projects #Index .Background {
  background-image: url("img/grid_cell_p.png");
}
#Projects #Index .Element {
  text-align: left;
  box-sizing: border-box;
  border-bottom: 1px solid #666;
  padding: 1em 0.5em;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}
@media only screen and (min-resolution: 150dpi) {
  #Projects #Index .Element {
    opacity: 0.75;
  }
  @-moz-document url-prefix() {
    #Projects #Index .Element {
      border-bottom: 2px solid #666;
    }
  }
}
#Projects #Index .Element:hover {
  opacity: 1;
}
@media only screen and (max-resolution: 149dpi) {
  #Projects #Index .Element .Left {
    float: left;
    width: calc(100% - 18em);
  }
}
#Projects #Index .Element .Badges {
  float: right;
  transition: max-height 0.75s ease;
}
#Projects #Index .Element .Name {
  font-size: 1.2em;
}
#Projects #Index .Element .Badge {
  text-align: right;
  display: inline-block;
  margin-left: 0.5em;
}
#Projects #Index .Element .Badge img {
  width: 1.5em;
  height: 1.5em;
}
#Projects #Index .Element .Description {
  padding: 0 0.5em;
  transition: max-height 0.75s ease;
  overflow: hidden;
  border-right: 1px solid #CCC3;
}
#Projects #Index .Element .Description button {
  margin: 1em auto 0.2em;
  padding: 0.2em 0.5em;
  display: block;
}
#Projects #Index .Element.DetailsOn {
  opacity: 1;
}
#Projects #Index .Element.DetailsOn .Description {
  max-height: 10em;
}
#Projects #Index .Element.DetailsOn .Badges {
  max-height: 8em;
}
#Projects #Index .Element.DetailsOn .Badge {
  display: block;
}
#Projects #Index .Element.DetailsOn .Badge::before {
  position: relative;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 0.85em;
  opacity: 0.4;
  content: attr(title);
  display: inline-block;
}
#Projects #Index .Element.DetailsOff .Description {
  max-height: 0;
}
#Projects #Index .Element.DetailsOff .Badges {
  max-height: 2em;
}
#Projects .Project {
  transition: opacity 0.5s ease;
  padding: 0.1em 0;
}
#Projects .Project .Background {
  background-image: url("img/grid_cell_p.png");
}
#Projects .Project .Content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
#Projects .Project .Content .ProjectSection {
  text-align: left;
  padding-top: 1em;
  transition: background 0.3s ease;
}
@media only screen and (max-resolution: 149dpi) {
  #Projects .Project .Content .ProjectSection button {
    padding: 0.2em 0.5em;
    margin-right: 1em;
  }
}
#Projects .Project .Content .ProjectSection h4, #Projects .Project .Content .ProjectSection p {
  margin: 1em 0.5em;
}
#Projects .Project .Content .ProjectSection h4 {
  font-size: 1.25em;
}
#Projects .Project .Content .ProjectSection.ProjectHeader {
  background-image: linear-gradient(#563F6855, #563F68AA);
  padding: 1em;
  border-bottom: 1px solid #6666;
}
#Projects .Project .Content .ProjectSection.ProjectHeader h2 {
  text-align: center;
}
#Projects .Project .Content .ProjectSection.ProjectHeader > div {
  padding: 0 1em;
}
#Projects .Project .Content .ProjectSection.ProjectHeader::after {
  display: none;
}
#Projects .Project .Content .ProjectSection.ProjectHeader .Links {
  margin: 0.5em 0;
}
#Projects .Project .Content .ProjectSection.ProjectHeader .Links a {
  border-bottom: 1px solid #666;
  margin-right: 0.75em;
  border-radius: 0.33em;
  opacity: 0.6;
  transition: opacity 0.3s ease;
  color: inherit;
  text-decoration: none;
  font-size: 0.85em;
}
#Projects .Project .Content .ProjectSection.ProjectHeader .Links a img {
  width: 1.5em;
  height: 1.5em;
}
#Projects .Project .Content .ProjectSection.ProjectHeader .Links a span {
  position: relative;
  bottom: 0.25em;
}
#Projects .Project .Content .ProjectSection.ProjectHeader .Links a:hover {
  opacity: 1;
  border-color: #888;
}
#Projects .Project .Content .ProjectSection::after {
  display: block;
  content: "";
  height: 1px;
  width: 75%;
  margin-top: 1.5em;
  background-image: linear-gradient(90deg, #6666, #0000);
}
#Projects .Project .Content .ProjectSection .Badge {
  display: inline-block;
}
#Projects .Project .Content .ProjectSection .Badge img {
  width: 1.5em;
  height: 1.5em;
}
#Projects .Project .Content .ProjectSection .Badge::after {
  margin-left: 0.5em;
  position: relative;
  bottom: 0.5em;
  right: 0.5em;
  font-size: 0.85em;
  opacity: 0.4;
  content: attr(title);
  display: inline-block;
}

html, body {
  margin: 0;
  background-color: #000;
  color: #FFF;
}

body {
  font-size: 1.05rem;
  font-family: "Open Sans";
  letter-spacing: 0.04em;
}
@media only screen and (min-resolution: 150dpi) and (orientation: portrait) {
  body {
    font-size: 2rem;
  }
}

.Background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

section {
  position: relative;
  height: 100vh;
  box-sizing: border-box;
  align-content: center;
  opacity: 1;
  transition: opacity 0.5s ease;
}
section .Background {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-blend-mode: luminosity;
  filter: blur(0.3em) brightness(60%);
  z-index: 100;
}
section .Content {
  margin: auto;
  position: relative;
  text-align: center;
  color: #FFF;
  z-index: 200;
}

.Clear {
  float: none;
  clear: both;
}

/*# sourceMappingURL=index.css.map */
