
#About {
  .Background {
    background-image: url('img/grid_cell_s.png');
    background-size: 2em;
    filter: blur(.15em) brightness(80%);
    @include breakpoint(hires) {
      filter: blur(.125em) brightness(150%);
    }
  }
  .Content {
    .Header {
      background-image: linear-gradient($BgAboutHeader1, $BgAboutHeader2);
      padding: 1em;
    }
    .Entry {
      text-decoration: none;
    }
  }
}
