
#Projects {
  .Background {
    top: -50vmax; height: 200vmax; // -sin(deg), 1+2sin(deg)
    left: -90vmax; width: 280vmax; // -cos(deg), 1+2cos(deg)
    transform: rotate(30deg);
    background-size: 12em;
    filter: blur(.4em) brightness(70%);
  }
  #Index {
    transition: opacity .5s ease;
    .Introduction {
      color: $FgPrimary;
      padding: 2em 1em;
      &::after { display: none; }
    }
    .Element {
      text-align: left;
      box-sizing: border-box;
      border-bottom: 1px solid $ElementBorder;
      @include breakpoint(hires) {
        // only on mobile firefox, required because some lines are not rendered
        @-moz-document url-prefix() {
          border-bottom: 2px solid $ElementBorder;
        }
        opacity: .75;
      }
      padding: 1em .5em;
      opacity: .6;
      transition: opacity .3s ease;
      &:hover {
        opacity: 1;
      }
      @include breakpoint(lowres) {
        .Left {
          float: left;
          width: calc(100% - 18em);
        }
      }
      .Badges {
        float: right;
        transition: max-height .75s ease;
      }
      .Name {
        font-size: 1.2em;
      }
      .Badge {
        text-align: right;
        display: inline-block;
        margin-left: .5em;
        img {
          width: 1.5em; height: 1.5em;
        }
      }
      .Description {
        padding: 0 .5em;
        transition: max-height .75s ease;
        overflow: hidden;
        border-right: 1px solid $BgButton;
        button {
          margin: 1em auto .2em;
          padding: .2em .5em;
          display: block;
        }
      }
      &.DetailsOn {
        opacity: 1;
        .Description {
          max-height: 10em; // NOTE: auto does not work
        }
        .Badges {
          max-height: 8em;
        }
        .Badge {
          display: block;
          &::before {
            position: relative;
            bottom: .5em; right: .5em;
            font-size: .85em;
            opacity: .4;
            content: attr(title);
            display: inline-block;
          }
        }
      }
      &.DetailsOff {
        .Description {
          max-height: 0;
        }
        .Badges {
          max-height: 2em;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .Project {
    transition: opacity .3s ease;
    .Background {
      background-image: url('img/grid_cell_p.png');
      transition: opacity .3s ease;
    }
    .Content {
      .Header {
        background-image: linear-gradient($BgProjectHeader1, $BgProjectHeader2);
      }
      .BadgeProperty {
        display: block;
        color: $FgSecondary;
        &::after {
          opacity: 1;
        }
      }
      .TextSection {
        h4 { color: $FgPrimary; }
      }
      .Screenshot {
        opacity: .85;
        transition: opacity .3s ease;
        margin-right: .5em;
        display: inline-block;
        cursor: zoom-in;
        img { height: 5em; }
        &:hover { opacity: 1; }
        &.Active {
          display: flex;
          align-content: center;
          opacity: 1;
          position: fixed;
          top: 0; left: 0;
          z-index: 400;
          width: 100%;
          height: 100%;
          margin-right: inherit;
          background-color: #181818;
          cursor: zoom-out;
          &::after {
            color: $FgPrimary;
            display: block;
            position: absolute;
            bottom: 0; left: 1em;
            width: 100%;
            text-align: center;
            background-color: #18181888;
            padding: 1em 0 1.5em;
            content: attr(title);
          }
          img {
            display: block;
            margin: auto;
            height: auto;
            max-height: 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
}
