
#Projects {
  .Background {
    background-size: 3em;
  }
  #Index {
    transition: opacity .5s ease;
    padding: 1em;
    .Element {
      text-align: left;
      box-sizing: border-box;
      border-bottom: 1px solid $ElementBorder;
      @include breakpoint(hires) {
        // only on mobile firefox, required because some lines are not rendered
        @-moz-document url-prefix() {
          border-bottom: 2px solid $ElementBorder;
        }
        opacity: .75;
      }
      padding: 1em .5em;
      opacity: .6;
      transition: opacity .3s ease;
      &:hover {
        opacity: 1;
      }
      @include breakpoint(lowres) {
        .Left {
          float: left;
          width: calc(100% - 18em);
        }
      }
      .Badges {
        float: right;
        transition: max-height .75s ease;
      }
      .Name {
        font-size: 1.2em;
      }
      .Badge {
        text-align: right;
        display: inline-block;
        margin-left: .5em;
        img {
          width: 1.5em; height: 1.5em;
        }
      }
      .Description {
        padding: 0 .5em;
        transition: max-height .75s ease;
        overflow: hidden;
        border-right: 1px solid $BgButton;
        button {
          margin: 1em auto .2em;
          padding: .2em .5em;
          display: block;
        }
      }
      &.DetailsOn {
        opacity: 1;
        .Description {
          max-height: 10em; // NOTE: auto does not work
        }
        .Badges {
          max-height: 8em;
        }
        .Badge {
          display: block;
          &::before {
            position: relative;
            bottom: .5em; right: .5em;
            font-size: .85em;
            opacity: .4;
            content: attr(title);
            display: inline-block;
          }
        }
      }
      &.DetailsOff {
        .Description {
          max-height: 0;
        }
        .Badges {
          max-height: 2em;
        }
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .Project {
    transition: opacity .3s ease;
    .Background {
      background-image: url('img/grid_cell_p.png');
      transition: opacity .3s ease;
    }
    .Content {
      .ProjectSection {
        text-align: left;
        padding-top: 1em;
        transition: background .3s ease;
        @include breakpoint(lowres) { button {
          padding: .2em .5em;
          margin-right: 1em;
        }}
        h4, p {
          margin: 1em .5em;
        }
        h4 {
          font-size: 1.25em;
        }
        &.ProjectHeader {
          background-image: linear-gradient($BgProjectHeader1, $BgProjectHeader2);
          padding: 1em;
          border-bottom: 1px solid #6666;
          h2 { text-align: center; }
          &>div {padding: 0 1em;}
          &::after { display: none; }
          .Links {
            margin: .5em 0;
            a {
              border-bottom: 1px solid #666;
              margin-right: .75em;
              border-radius: .33em;
              opacity: .6;
              transition: opacity .3s ease;
              color: inherit;
              text-decoration: none;
              font-size: .85em;
              img {
                width: 1.5em;
                height: 1.5em;
              }
              span {
                position: relative;
                bottom: .25em;
              }
              &:hover {
                opacity: 1;
                border-color: #888;
              }
            }
          }
        }
        &::after {
          display: block;
          content: "";
          height: 1px;
          width: 75%;
          margin-top: 1.5em;
          background-image: linear-gradient(90deg, #6666, #0000);
        }
        .Badge {
          display: inline-block;
          img {
            width: 1.5em; height: 1.5em;
          }
          &::after {
            margin-left: .5em;
            position: relative;
            bottom: .5em; right: .5em;
            font-size: .85em;
            opacity: .4;
            content: attr(title);
            display: inline-block;
          }
        }
      }
    }
  }
}
